.search-bar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #f2f2f2;
  border-bottom: 1px solid #e1e1e1;
  width: 100%;
}

.company-logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  margin-right: auto;
}

.logo-part1, .logo-part2 {
  font-size: 2.5rem;
  color: #2c3e50;
  margin: 7px;
}

.logo-part2 {
  margin-left: -1.45rem;
}

.logo-letter {
  font-size: 4rem;
  color: #2c3e50;
}

.title-group {
  text-align: center;
  flex: 2;
}

.title-group h1 {
  float: left;
  font-size: 2.5rem;
  color: #2c3e50;
  margin: 0;
}

.title-group p {
  float: left;
  text-align: left;
  color: #6c757d;
  font-size: 1.1rem;
  margin: 0;
}

.search-bar {
  display: flex;
  flex-direction: column;
  align-items: end;
  flex: 3;
}

.search-bar-input-group {
  margin-left: 2rem;
}

.search-input {
  border-radius: 15px;
  border: 2px solid #2c3e50;
  margin: 2px 5px;
  padding: 10px 8px;
  font-size: 15px;
  width: 35rem;
}

.search-input:focus {
  font-weight: 350;
  border: 2px solid #000046;
  padding: 10px 25px;
  outline: none;
}

.filter-buttons {
  margin-right: 2rem;
  margin-top: 0.2rem;
}

.btn-search{
  margin: 5px !important;
  padding: 10px 30px !important;
  border: 1px solid #2c3e50 !important;
  border-radius: 10px !important;
  color: white !important;
  font-weight: bold !important;
  cursor: pointer !important;
  transition: background-color 0.3s ease !important;
  background-color: #007bff !important;
}

.btn-search:hover{
  background-color: #ffffff !important;
  color: black !important;
  border: none !important;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3) !important;
}

.btn.btn-sale {
  margin: 5px;
  padding: 10px 30px;
  border: 1px solid #2c3e50;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: #007bff;
}

.btn.btn-sale:hover {
  background-color: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.btn.btn-rent {
  margin: 5px;
  padding: 10px 30px;
  border: 1px solid #2c3e50;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: #007bff;
}

.btn.btn-rent:hover {
  background-color: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.btn.btn-filter {
  margin: 5px;
  margin-right: 1rem;
  padding: 10px;
  border: 1px;
  background-color: orange;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
}

.btn.btn-filter:hover{
  background-color: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3) !important;
}

.filter-icon {
  margin-right: -3px;
  margin-bottom: 3px;
}


.info-icon {
  color: black;
  font-size: 1.5rem;
}

.btn.btn-clear {
  padding: 0;
  margin-bottom: 5px;
}

.clear-icon {
  margin-top: -0.5rem;
  font-size: 1.8rem;
}

.btn.btn-filter:hover {
  box-shadow: none;
}


@media screen and (max-width: 768px) {
  .search-bar-container {
    flex-direction: column;
    align-items: center;
  }

  .search-bar {
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }

  .search-bar-input-group {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .filter-buttons {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .search-input {
    max-width: 100%;
  }

  .advanced-filter-dropdown {
    width: 100%;
    max-height: 100%;
  }
}
